@import "partials/all";
@import "modules/all";

body {

  h1 {
    color: #333333;
  }

  .listeContent {

  	.name {
  		margin-top: 10px;
  	}

	.tab-content {
		margin-top: 30px;
	}

	.stationVelib .name {
		text-align: center;
	}

	.detailVelib {
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
	}

	.totalBikes {
		margin-top: 10px;
	}

	.thumbnail.velib {
		height: 310px;
		position: relative;
	}

	.bottom	{
		position: absolute;
		bottom: 15px;
		width: 96.5%;
	}

	.positionnement {
		text-align: center;

		.district {
			width: 200px; /* à modifier selon vos besoins */
			overflow: hidden;
			-o-text-overflow: ellipsis; /* pour Opera 9 */
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	#loaderDiv {
	   position: fixed;
	   top: 0;
	   right: 0;
	   bottom: 0;
	   left: 0;
	   z-index: 1100;
	   background-color: white;
	   opacity: .6;
	}

	.ajax-loader {
	   position: absolute;
	   left: 50%;
	   top: 50%;
	   margin-left: -32px; /* -1 * image width / 2 */
	   margin-top: -32px; /* -1 * image height / 2 */
	   display: block;
	}
	
	.searchBlock {
		margin: 5px 15px 20px 15px;

		.form-control {
			width: 290px;
			margin-bottom: 10px;

			@include mobile() {
				width: 100%;
			}

			&.nbItems {
				width: 80px;
				display: inline-block;
				margin-left: 56px;
			}
		}

		.next {
			margin-left: 57px;
		}
		.previous {
			margin-right: 57px;
		}

		.page {
			width: 30px;
			display: inline-block;
		}

		.pageSize {
			text-align: center;
		}

		.paginated {
			margin-bottom: 20px;

			@include mobile() {
				text-align: center;
			}
		}
	}
  }
}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer;
}
