@import "partials/all";
@import "modules/all";

body {

  h1 {
    color: #333333;
  }

  .listeContent {

  	.name {
  		margin-top: 10px;
  	}

	.tab-content {
		margin-top: 30px;
	}

	.stationVelib .name {
		text-align: center;
	}

	.detailVelib {
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
	}

	.totalBikes {
		margin-top: 10px;
	}

	.thumbnail.velib {
		height: 310px;
		position: relative;
	}

	.bottom	{
		position: absolute;
		bottom: 15px;
		width: 96.5%;
	}

	.positionnement {
		text-align: center;

		.district {
			width: 200px; /* à modifier selon vos besoins */
			overflow: hidden;
			-o-text-overflow: ellipsis; /* pour Opera 9 */
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	
  }
}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer;
}
