@import "partials/all";
@import "modules/all";

body {

  h1 {
    color: #333333;
  }

  #loaderDiv {
	   position: fixed;
	   top: 0;
	   right: 0;
	   bottom: 0;
	   left: 0;
	   z-index: 1100;
	   background-color: white;
	   opacity: .6;
	}

	.ajax-loader {
	   position: absolute;
	   left: 50%;
	   top: 50%;
	   margin-left: -32px; /* -1 * image width / 2 */
	   margin-top: -32px; /* -1 * image height / 2 */
	   display: block;
	}

  .listeContent {

  	.name {
  		margin-top: 10px;
  	}

	.tab-content {
		margin-top: 30px;
	}

	.stationVelib .name {
		text-align: center;
	}

	.detailVelib {
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
	}

	.totalBikes {
		margin-top: 10px;
	}

	.thumbnail.velib {
		height: 310px;
		position: relative;
	}

	.bottom	{
		position: absolute;
		bottom: 15px;
		width: 96.5%;
	}

	.positionnement {
		text-align: center;

		/*.district {
			width: 200px;
			overflow: hidden;
			-o-text-overflow: ellipsis;
			text-overflow: ellipsis;
			white-space: nowrap;
		}*/
	}

	.closedStation {
		height: 100%;
		position: absolute;
		width: 100%;
		opacity: 0.4;
		background-color: black;
		z-index: 999;
		margin-left: -4px;
		margin-top: -4px;
		border-radius: 2px;
	}

	.popinAlert {
		z-index: 1000;
		position: absolute;
		top: 81%;
		left: 0px;
		width: 100%;
	}
	
	
	.searchBlock {
		margin: 5px 15px 20px 15px;

		.form-control {
			width: 31.6%;
			margin-bottom: 10px;

			@include mobile() {
				width: 100%;
			}

			&.nbItems {
				width: 80px;
				display: inline-block;
				margin-left: 30px;

				@include tablet() {
					margin: 0;
				}
			}
		}

		.page {
			width: 30px;
			display: inline-block;
		}

		.pageSize {
			width: 31.6%;
			text-align: center;

			@include mobile() {
				width: 100%;
			}
		}

		.paginated {
			margin-bottom: 20px;
			width: 31.6%;
			text-align: center;

			@include mobile() {
				text-align: center;
				width: 100%;
			}

			.next {
				margin-left: 57px;

				@include tablet() {
					margin-left: 20px;
				}
			}
			.previous {
				margin-right: 57px;

				@include tablet() {
					margin-right: 20px;
				}
			}
		}
	}
  }

  .detailStation {
  	.placesDispos {
	  	float: left;
	  	margin-right: 15px;
	}
	  .bikesDispos {
	  	float: left;
	  	margin-right: 21px;
	}

	  .progressBar {
	  	clear: both;
	}

	.adresse {
		margin-bottom: 10px;
	}

	.nbDispos {
		white-space: nowrap;
		color: black;
	}

	.CB {
		margin-bottom: 20px;

		.no_paiement {
			color: red;
			font-size: 20px;
			line-height: 20px;
			vertical-align: middle;
			margin-left: 5px;
		}
		.paiement_OK {
			color: green;
			font-size: 20px;
			line-height: 20px;
			vertical-align: middle;
			margin-left: 5px;
		}
	}

	.map {
	  height: 400px;
	  width: 100%;
	  margin: auto;
	  margin-bottom: 50px;
	}

	.geoloc {
		display: block;
		clear: both;
		margin-bottom: 15px;
	}

	.distanceTot {
		margin-bottom: 10px;
	}
  }

}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer;
}
