<custom-loader></custom-loader>
<div class="detailStation">
	<div class="caption">
		<h3 class="name">{{ ::detailStation.name }}</h3>
	</div>
	<div class="positionnement">
		<div class="district">{{ ::detailStation.district }}</div>
		<div class="adresse">{{ ::detailStation.address }}</div>
	</div>
	<!-- <div class="CB">
		Paiement par carte : 
	</div> -->
	<div class="progressBar">
		<span class="placesDispos">Places disponibles: </span>
		<progressbar class="col-md-3" max="max" value="detailStation.bikesavailable" type="{{typePlaces}}">{{ ::detailStation.slotsavailable }} / {{ ::max }}</progressbar>
	</div>
	<div class="progressBar">
		<span class="bikesDispos">Vélos disponibles: </span>
		<progressbar class="col-md-3" max="max" value="detailStation.bikesavailable" type="{{typeBikes}}">{{ ::detailStation.bikesavailable }} / {{ ::max }}</progressbar>
	</div>
</div>